*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth !important;
}
body{
    background-color: grey !important;
}
header{
    width: 100%;
    height: 121vh;
    background-image: linear-gradient(rgb(28 24 24 / 80%),rgba(0,0,0,0.7)),url("./images/header_bg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: 124% 181%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px;
}
nav .logo{
    width: 148px;
    height: 40px;
    margin-left: 131px;
}
.nav_child img{
    width: 21px;
    height: 12px;
    padding-right: 4px;
    margin-bottom: 4px;
}
.nav_child{
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin-right: 132px;
}
.dropdown .btn:focus{
    border: 3px solid white;
}
.sign_in{
    width: 84px;
    height: 33px;
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.sign_in:hover{
    background-color: #c11119;
    transition: 0.3s ease-in-out;
}
.header_content{
    color: whitesmoke;
    margin: 158px auto;
    text-align: center;
    min-height: 289px;
}
.header_content h1{
    max-width: 897px;
    font-size: 3rem;
    font-weight: 900;
    margin: 2px auto;
}
.header_content p{
    margin-top: 17px;
    font-size: 1.5rem;
    font-weight: 400;
}
.header_content input{
    width: 380px;
    height: 47px;
    background: linear-gradient(rgb(23 141 242 / 12%),rgb(68 166 238 / 17%));;
    border: 1px solid rgb(126, 120, 120);
    border-radius: 5px;
    margin-right: 4px;
}
.search_input{
    width: 691px;
    margin-left: 227px;
}
.header_content button{
    width: 198px;
    height: 50px;
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    font-size: 23px;
}
.header_content button:hover{
    background-color: #c11119;
    transition: 0.3s ease-in-out;
}
.section_1{
    width: 100%;
    height: 90vh;
    background-color: black;
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
}
.section_img img{
    margin-top: 47px;
    width: 100%;
    height: 100%;
}
.section_img{
    width: 488px;
    height: 355px;
    margin: auto 0px;
}
.section_text{
    margin: auto 0px auto 10px;
}
.section_text h1{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 18px;
}
.section_text p{
    max-width: 456px;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}
#second_section{
    flex-direction: row-reverse;
}
#second_section h1{
    max-width: 372px;
}
#second_section p{
    max-width: 467px;
}
#third_section p{
    line-height: 27px;
}
#fourth_section{
    flex-direction: row-reverse;
}
#fourth_section h1{
    max-width: 446px;
}
#fourth_section p{
    max-width: 457px;
}
.query_section{
    width: 100%;
    height: 190vh;
    background-color: black;
    margin: 5px 0;
}
.query_section h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin: 0px auto 35px;
    text-align: center;
    padding-top: 70px;
}
.query_section .first{
    max-width: 954px;
    min-height: 76px;
    margin: 11px auto;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.query_section .first:hover{
    background-color: #414141;
}
.first p{
    font-size: 30px;
    color: white;
    font-weight: 400;
    margin-left: 20px;
}
.first img{
    width: 74px;
    height: 74px;
}
#search{
    margin: 0px auto;
}
.unique{
    background-color: black;
    width: 100%;
    padding: 64px 0px;
}
.unique p{
    color: #ffffffb3;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 220px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 81%;
    margin: 0px auto;
}
.link_child{
    max-width: 167px;
    min-height: 22vh;
    line-height: 32px;
    display: flex;
    flex-direction: column;
}
.link_child a{
    cursor: pointer;
    color: #ffffffb3;
}
.link_child a:focus{
    color: #c11119;
}
.last{
    margin-left: 214px;
    margin-top: 25px;
}
.last h5{
    color: #ffffffb3;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}